################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/Reec
/src/Reec.ConsoleTest/bin
/src/Reec.ConsoleTest/obj
/src/Reec.DataBase/bin
/src/Reec.DataBase/obj
/src/Reec.Helpers/bin
/src/Reec.Helpers/obj
/src/Reec.MySql/obj
/src/Reec.MySql/bin
/src/Reec.Oracle/obj
/src/Reec.Oracle/bin
/src/Reec.SqlServer/bin
/src/Reec.SqlServer/obj
/src/Reec.ConsoleTest
/src/Reec.Api.Test/obj
/src/Reec.Api.Test/bin
/src/Reec.Inspection/obj
/src/Reec.Inspection/bin
/src/Reec.Inspection.SqlServer/bin
/src/Reec.Inspection.SqlServer/obj
/src/Reec.Api.Test.Nuget/bin
/src/Reec.Api.Test.Nuget/obj
